.button-menu {
    font-size: 14px;
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 4px;
    margin: 0 5px; /* Mantén el margen, pero elimina flex */
}

.button {
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 4px;
    margin: 0 5px; /* Mantén el margen, pero elimina flex */
}

.button-menu.logout {
    background-color: red;
}

.button.edit {
    background-color: yellow;
}

.button.delete {
    background-color: red;
}