/* Estilos generales */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    background: white;
    padding: 20px;
    padding-top: 0PX;
    margin: 0 auto;
    max-width: 800px;
}

h1, h2 {
    color: #333;
    margin-bottom: 10px;
}

p, ul {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 5px;
}

strong {
    color: #333;
}

/* Estilo de firma */
.firma {
    margin-top: 70px;
    text-align: center;
}

button:hover {
    opacity: 0.9;
}

button:first-of-type {
    background-color: #555; /* Gris oscuro para el botón de limpiar */
}

button:last-of-type {
    background-color: #007bff; /* Azul para el botón de finalizar */
}

.footer {
    margin-top: 60px;
    text-align: center;
    font-size: 0.9em;
    color: #555;
}

.footer p {
    margin-bottom: 1px;
}